*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    height: 100vh;
    background: linear-gradient(45deg , violet , dodgerblue);
    display: grid;
    place-items: center;
    color: #ffff;
    display: flex;
}
h1{
    font-size: 10vw;
}
.main{
    width: 500px;
    height: 600px;
    background: url("");
}


